.digit-btn {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    padding: 0;
    background-color: #333333;
    border: none;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    transition:  ease-in-out .2s;
    text-align: center;
}

.digit-btn:active {
   background-color: #737373;
}

